/* Section comun para todo el sitio */
section {
  padding: 2em;
  margin: 5em auto;
}

/*referente al z-index */

div {
  border-radius: 5px;
  color: black;
  line-height: 100px;
  padding: 0.9rem;
  width: 100px;
  height: 100px;
  position: relative;
}

p {
  margin-top: -55px;
  margin-left: -10px;
  font-size: 0.9rem;
  font-weight: bold;
}
.index-1 {
  background: #f1951c;
  top: 50px;
  left: 50px;
}
.index-2 {
  background: #84aaaf;
  top: 10px;
  left: 100px;
}

.index-3 {
  background: #21ff04;
  left: 150px;
  top: -50px;
} 